.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  height: 80vh;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  gap: 10px;
  background: lightgrey;
}